/* 自定义字体 */
:root {
    --primary-font: 'PING FANG GONG ZI TI';
}

body {
    font-family: var(--primary-font) !important;
}

h2 {
    font-family: var(--primary-font) !important;
}

button.contact-btn {
    font-family: var(--primary-font) !important;
}

/* 自定义鼠标样式 */
* {
    cursor: url(images/normal-cursor-small.png), default;
    }
     
    /** 链接指针样式**/ 
    a:hover{cursor:url(images/active-cursor-small.png), pointer;}
     
    /** 鼠标样式 结束**/

/* 定义图片的样式 */
.image-top-right {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999; /* 确保图片在最顶层 */
    width: 100px; /* 自定义宽度 */
    height: auto; /* 自动高度 */
}

/* 图片容器 */
.image-container {
    position: relative; /* 必须设置为相对定位 */
}