---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
      <h2>关于</h2>
      <p class="mb-4">
        我是卢东东（中式发音：/lú dōng dōng/；）
      </p>
      <p>一个兴趣爱好构成复杂的个体户。<br>目前正在进行数字游民试验，<br>你可以在<a href="/now">现在<a/>页面上找到我当前的主线任务。<br>
      空闲的时候，我喜欢看老电影，骑着摩托到处乱逛。</p>
      <h2>写作</h2>
      <p>我喜欢写作，但自我感觉难登大雅之堂，大部分小说和杂谈都躺在记事本“躺尸”，受到朋友的启发，我开始启用外部发布渠道，以下是我发表文章的一些地方</p>
      <ul>
        <li><a href="https://si.lu">我的思路</a></li>
        <li>还有这里，<a href="https://ludongdong.com/blog/">卢东东博客</a></li>
      </ul>
      <h2>教育</h2>
      <p>跟大多数人不同，我在高中的时候就辍学了，但后来通过自考修完了本科课程。<br>目前我掌握的技能基本来源于互联网。<br>请勿询问我是否后悔，我非常自豪人生中的每一次选择。</p>
      <p>路係自己揀，撲街唔好喊！</p>
      <h2>工作</h2>
      <h3>过去的</h3>
      <li>2015年，我在一家小公司做了两年的运营。</li>
      <li>2017年，我在一家大公司做了五年的产品经理。</li>
      <li>2022年，我在一家创业公司做了两年的产品经理。</li> 
      <li>2024年，我开始数字游民试验...</li>
      </div>
      <h2 class="mb-4 text-2xl font-medium">展示项目</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
