---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Contact" />
  <Breadcrumbs items={[{ label: 'Contact', icon: 'lucide:at-sign' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <h2>联系方式</h2>
          <h2>📧 电子邮件</h2>
          <p>您可以发送电子邮件至<a href="mailto:xjoylu@gmail.com">xjoylu#gmail.com</a>。我通常每天查看一次电子邮件；如果您有紧急问题，请致电或发短信（见下文）。如果我外出超过一两天，我通常会留下一条自动回复消息，其中包含有关我的假期的详细信息以及有关时间敏感问题的联系选项。</p>
      
          <h2>📞 电话</h2>
          <p>您可以拨打或发短信给我，电话号码是 <a href="tel:+19188886566">+1 (918) 888-6566</a>。由于我现在接到的自动电话数量太多，如果我不认识您的号码，我可能不会接听电话，但如果您留言，我会立即回电给您。</p>
      
          <h2>▶️ 社交媒体</h2>
          <p>我正在经营社媒体，你可以关注我的频道：𝕏、Youtube、小红书、Bilibili，很乐意与您沟通。
            <a href="https://x.com/xjoylu" target="_blank" rel="noopener noreferrer">
              <img src="https://img.shields.io/twitter/follow/xjoylu?style=social" alt="x@xjoylu">
            </a></p>
          <h2>👋 亲自</h2>
          <p>我住在广东省中山市。我一直都很喜欢结识新朋友，而且我现在尤其想多结识一些新朋友，因为我对这个地区还不熟悉，所以如果你路过这里，并且有兴趣见面，请给我发电子邮件。</p>
          <p>如果我要在某个地方旅行很长时间，我通常会提前在X上提到，这样附近有兴趣的人就可以安排见面。您可以通过RSS或电子邮件订阅。</p>
        </div>
      </div>
    </section>
</Layout>