---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.featuredPostCount)
---

<Layout title="Home" description={SITE.description}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <div class="rounded-lg border">
        <div class="flex flex-col space-y-1.5 p-6">
          <h3 class="text-3xl leading-none font-medium">lú dōng dōng</h3>
          <p class="text-muted-foreground text-sm">卢东东 &bull; 偷懒界翘楚 &bull; <span class="font-semibold">@xJoyLu</span
            ></p>
            <details>
              <summary>寻找东东</summary>
              <iframe
                src="https://lcc.cc/joy"
                frameborder="0"
                scrolling="0"
                width="100%"
                height="600px"
              ></iframe>
              </details>
        </div>
        <div class="p-6 pt-0">
          <p class="text-muted-foreground mb-2 text-sm">
            超业余扑街写手，孤僻固执又害羞.
            <br />爱好： 🏍摩托 &bull; 👾打碟 &bull; 🎬记录 &bull; 📝写作 &bull; 🎮游戏 &bull; 🪖EDC
          </p>
          <p class="text-muted-foreground text-sm">
            你可以通过<Link
            href="https://ldd.cc"
            class="text-foreground"
            underline
            external>ldd.cc</Link>
            ,<Link
            href="https://ludongdong.com"
            class="text-foreground"
            underline
            external>ludongdong.com</Link>
            访问. 或许可以看看<Link
            href="https://ldd.cc/now"
            class="text-foreground"
            underline>我最近在干什么</Link
          >.
          </p>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-medium">最新文章</h2>
      <ul class="flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
        查看所有博客 <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
